<section id="estimate">
    <div id="text">
        <h1 class="quote-io">Get a Free Estimate</h1>
        <h2>Email | <a href="mailto:sphillipsparmer@gmail.com">sphillipsparmer@gmail.com</a></h2>
        <h2>Phone | <a href="tel:+5404949945"></a>(540) 494-9945</h2>
    </div>
    <form action="">
        <input type="text" name="fullname" placeholder="Fullname">
        <input type="email" name="email" placeholder="Email">
        <input type="tel" name="phone" placeholder="Phone">
        <textarea rows="10" name="message" placeholder="Please include all services of interest and a brief description of the work to be done"></textarea>
        <button>Submit</button>
    </form>
</section>

<style>
    #estimate {
        background-color: #f3e3b7;
        color: black;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
    }
    #text,
    form {
        margin: 1rem;
    }
    #text {
        padding: 10% 2rem 10% 0;
        border-right: 2px solid black;
        flex-basis: 40%;
    }
    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-weight: 300;
        font-size: 1.1rem;
        width: 75%;
        margin: 0.5rem;
        line-height: 2rem;
    }
    a {
        color: black;
    }
    form {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        padding-bottom: 2rem;
        color: black;
    }
    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        padding: 0.5rem;
        margin: 0.5rem 0;
        width: 60%;
        color: black;
    }
    textarea {
        background-color: transparent;
        padding: 0.5rem;
        margin: 0.5rem 0;
        width: 80%;
        resize: none;
        border: 1px solid black;
        color: black;
    }
    input::placeholder,
    textarea::placeholder {
        letter-spacing: 2px;
        color: black;
        line-height: 1.5rem;
    }
    input:focus,
    textarea:focus {
        border: none;
        outline: none;
        border: 1px solid white;
    }
    button {
        width: 8rem;
        display: inline;
        background-color: transparent;
        color: black;
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.75rem 1rem;
        margin-top: 0.5rem;
        letter-spacing: 1px;
        transition: 250ms;
    }
    button:hover {
        background-color: black;
        color: white;
    }
    @media (max-width: 60rem) {
        #estimate {
            flex-direction: column;
            margin-top: 2rem;
            align-items: start;
        }
        #text {
            border: none;
            padding-bottom: 0;
            padding-left: 1.5rem;
        }
        form {
            width: 100%;
            padding-left: 1.5rem;
        }
    }
</style>

<!-- <script>
    const estimate = document.getElementById("estimate");
    const logoImg = document.getElementById("logo");
    const logoText = document.getElementById("logo-text");
    const btn = document.getElementById("estimate-btn");

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            logoText.classList.toggle("cream", entry.isIntersecting);
            btn.classList.toggle("cream-bg", entry.isIntersecting);
            logoImg.classList.toggle("cream", entry.isIntersecting);
        })
    },
    {
        threshold: 0.1,
    })
    observer.observe(estimate);
</script> -->