<section>
    Designed by <a href="https://freelancingfinn.com/">Finn's Freelancing.</a>
</section>

<style>
    section {
        background-color: #006e97;
        color: white;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        padding: 1rem;
        text-align: center;
        font-size: 0.9rem;
        letter-spacing: 1px;
        line-height: 1.5rem;
    }
    a {
        color: white;
        font-weight: 700;
        padding: 4px;
        border-radius: 4px;
        transition: 250ms;
    }
    a:hover {
        background-color: #00b3c3;
        color: black;
    }
</style>