<section>
    Designed by <a href="https://freelancingfinn.com/">Finn's Freelancing.</a> Built with <a href="https://astro.build/">Astro.</a> Deployed by <a href="https://www.netlify.com/">Netlify.</a>
</section>

<style>
    section {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        padding: 1.5rem;
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 1px;
        line-height: 1.5rem;
    }
    a {
        color: #c17a5f;
        font-weight: 700;
        text-decoration: none;
        padding: 4px;
        border-radius: 4px;
        transition: 150ms;
    }
    a:hover {
        background-color: #c17a5f;
        color: white;
    }
</style>