<main id="home">
    <div id="text">
        <h1>Where <span id="simple">Simple</span></h1>
        <h1>Meets <span id="stunning">Stunning</span></h1>
        <h2>LET'S GIVE YOUR HOME A NEW LOOK</h2>
        <br>
        <a href="#estimate">
            Get a Free Estimate
        </a>
    </div>
    <!-- <picture> -->
        <!-- <img src="/images/home.jpg" alt="" width="1108" height="705"> -->
    <!-- </picture> -->
</main>

<style>
    #home {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        position: relative;
        z-index: 1;
        width: 1008px;
        height: 555px;
        margin: 0 auto;
        background-image: url("/images/home2.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    #text {
        padding-top: 9rem;
        padding-left: 3rem;
        color: #ffffff;
    }
    h1 {
        font-size: 4rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        text-shadow: 1px 1px 3px black;
    }
    h2 {
        font-size: 1.25rem;
        font-weight: 300;
        margin-top: 2.5rem;
        padding: 0.25rem 0.5rem;
        background-color: #aeaeae;
        color: black;
        opacity: 0.9;
        border-radius: 8px 3px;
        display: inline-block;
    }
    #text-flex {
        display: flex;
        align-items: center;
    }
    #simple {
        font-weight: 300;
        margin-left: 1rem;
    }
    #stunning {
        display: inline-block;
        margin-left: 1rem;
        color: white;
        background-color: #ff5000;
        padding: 0.5rem 1rem;
        border-radius: 30px 7px;
        text-shadow: none;
    } 
    a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.1rem;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition: 300ms;
        background-color: #ff5000;
        color: white;
        /* border: 2px solid #ff5000; */
    }
    a:hover {
        background-color: black;
        color: white;
        /* border: 2px solid black; */
    }
    /* picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    } */
    @media (max-width: 45rem) {
        #home {
            background-position: 20%;
        }
        #text {
            padding-left: 1rem;
        }
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 1.1rem;
        }
        a {
            font-size: 1rem;
        }
        /* picture {
            left: -20%;
        } */
    }
    @media (max-width: 30rem) {
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1rem;
        }
    }
</style>