<nav>
    <button id="nav-toggle" aria-controls="primary-nav" aria-expanded="false">
        <span class="sr-only">Menu</span>
      </button>
    <a href="/" id="logo-link">
        <img id="logo-img" src="/images/logoSP.png" alt="">
    </a>
    <ul id="primary-nav" data-mobile-nav-visible="false">
        <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#testimonials" class="nav-link">Testimonials</a></li>
        <li id="estimate-btn" class="nav-item yellow-bg"><a href="#estimate" class="nav-link">Free Estimate</a></li>
    </ul>
</nav>

<style>
    nav {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: white;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        padding: 0 1rem;
    }
    a {
        text-decoration: none;
        color: black;
    }
    #nav-toggle {
        display: none;
        cursor: pointer;
        z-index: 9999;
    }
    #logo {
        display: inline;
        transform: translateY(3px);
        transition: 200ms;
    }
    #logo-img {
        height: 2.5rem;
    }
    #logo-link {
        padding: 1rem 0;
    }
    #primary-nav {
        display: flex;
        align-items: baseline;
        margin-left: auto;
    }
    .nav-item {
        cursor: pointer;
        padding: 0.5rem;
        margin: 0.5rem;
        transition: 200ms;
    }
    .nav-item:hover {
        transform: translateY(-2px);
    }
    #estimate-btn {
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
        background-color: #ff5000;
    }
    #estimate-btn a {
        color: white;
    }
    @media (max-width: 50rem) {
        #nav-toggle {
            display: block;
            position: fixed;
            top: 1.25rem;
            right: 1rem;
            background-image: url("/images/menu.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 2rem;
            height: 2rem;
            background-color: white;
            border: none;
        }
        #nav-toggle[aria-expanded="true"] {
            background-image: url("/images/x.svg");
        }
        #primary-nav {
            z-index: 999;
            position: fixed;
            /* Change last percentage for how far menu slides out */
            inset: 0 0 0 40%;
            transform: translateX(100%);
            flex-direction: column;
            align-items: start;
            transition: 500ms ease-in-out;
            background-color: white;
            padding-top: 5rem;
        }
        #primary-nav[data-mobile-nav-visible="true"] {
            transform: translateX(0%);
        }
    }
</style>

<script>
    const primaryNav = document.querySelector("#primary-nav");
    const navToggle = document.querySelector("#nav-toggle");
    navToggle.addEventListener("click", () => {
      console.log("nav toggle clicked");
      const isNavVisible = primaryNav.getAttribute("data-mobile-nav-visible");
      if (isNavVisible === "false") {
        primaryNav.setAttribute("data-mobile-nav-visible", "true");
        navToggle.setAttribute("aria-expanded", "true");
      } else {
        primaryNav.setAttribute("data-mobile-nav-visible", "false");
        navToggle.setAttribute("aria-expanded", "false");
      }
    });
  </script>