<section id="services">
    <h1>WHAT WE OFFER</h1>
    <h2>Our painting services</h2>
    <div id="main">
        <div class="group">
            <div class="item">
                <img src="/images/s1.jpg" alt="interior" class="img">
            </div>
            <div class="item" id="item1">
                <h3>Interior Painting</h3>
                <p>Discover the difference a fresh coat of paint can make with our interior painting services. With over 10 years of experience, Sterling is dedicated to enhancing the beauty and ambiance of your home. Whether you prefer bold and vibrant or soft and soothing tones, we bring your ideas to life with precision and care.</p>
            </div>
        </div>
        <div class="group reverse">
            <div class="item" id="item2">
                <h3>Cabinet Finishing</h3>
                <p>Revitalize your cabinets with expert finishing. We specialize in breathing new life into your existing cabinets through meticulous refinishing techniques. Transform your kitchen or bathroom with our professional cabinet finishing services.</p>
            </div>
            <div class="item">
                <img src="/images/s2.jpg" alt="kitchen cabinets" class="img">
            </div>
        </div>
        <div class="group">
            <div class="item">
                <img src="/images/s3.webp" alt="people painting bricks" class="img">
            </div>
            <div class="item" id="item3">
                <h3>Whitewashing</h3>
                <p>White washing creates a timeless, elegant appearance that brightens and modernizes your brickwork. We use precise techniques to achieve a beautiful, consistent finish that enhances your home’s character while preserving the natural texture of the brick.</p>
            </div>
        </div>
        <div class="group reverse">
            <div class="item" id="item5">
                <h3>Drywall Repair</h3>
                <p>Restore the beauty of your home with our professional drywall repair services. At Sterling Painting, we expertly handle everything from minor cracks to significant damage. We ensure seamless repairs, leaving your walls smooth and ready for painting or finishing.</p>
            </div>
            <div class="item">
                <img src="/images/s5.jpg" alt="drywall" class="img">
            </div>
        </div>
        <div class="group">
            <div class="item">
                <img src="/images/s4.jpg" alt="deck with cat and chairs" class="img">
            </div>
            <div class="item" id="item4">
                <h3>Exterior Deck Staining</h3>
                <p>Transform your deck with Sterling's professional staining services. We apply high-quality stains that protect against weathering and wear while enhancing the wood’s natural grain. Enjoy a vibrant, long-lasting finish that keeps your deck looking its best through every season.</p>
            </div>
        </div>
    </div>
</section>
<style>
    section {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        margin-bottom: 6rem;
    }
    h1 {
        text-align: center;
        letter-spacing: 1px;
        margin-top: 7rem;
        font-weight: 300;
        font-size: 1.1rem;
    }
    h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        margin-top: 1rem;
    }
    #main {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }
    .group {
        display: flex;
        margin: 1rem 3rem;
    }
    .item {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
    }
    .img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    h3 {
        font-size: 1.75rem;
        font-weight: 300;
        text-transform: uppercase;
        margin: 2rem;
        letter-spacing: 1px;
    }
    p {
        margin: 0 2rem 2rem;
        line-height: 1.75rem;
        letter-spacing: 1px;
    }
    #item1 {
        background-color: #009dc7;
    }
    #item2 {
        background-color: #00b3c3;
    }
    #item3 {
        background-color: #f3e3b7;
    }
    #item4 {
        background-color: #f74f29;
    }
    #item5 {
        background-color: #f1c335;
    }
    @media (max-width: 55rem) {
        h2 {
            font-size: 2.25rem;
        }
        .img {
            border-radius: 1rem 1rem 0 0;
        }
        .item {
            border-radius: 0 0 1rem 1rem;
        }
        .group {
            flex-direction: column;
            margin: 1rem 1.5rem;
        }
        .reverse {
            flex-direction: column-reverse;
        }
    }
</style>